{% load static %}
<!DOCTYPE html> 
<html lang="ru"> 

  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image"> 
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/fav/android-crome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="256x256" href="{% static 'img/fav/android-crome-256x256.png' %}">
    
    <!-- Закомментировал эту строку - изначально была она
    <link rel="apple-touch-icon" sizes="180x180" href="img/fav/apple-touch-icon.png">
    Добавил строку кода из новой версии
    -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">


    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/additional_design.css' %}">
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>

  <body>	   
    {% include "includes/header.html"%}
    <main>
      <div class="container py-5">
        {% block content %}
        {% endblock %}          
      </div>
    </main>
    {% include "includes/footer.html" %}
  </body>

</html>
