{% extends "base.html" %}


{% block title %}
  Лента записей
{% endblock %}

{% block content %}
  <h1 class="frame_width">Лента записей</h1>                        
  <!-- Перебираем в цикле все посты -->
  {% for post in posts %}
    <hr>
    <article class="additional_design frame_width gradient_posts">
      {% include "blog/posts_include.html" %}
      <!-- # -->
    </article>  
  {% endfor %}

{% endblock %}





{% comment %}

<!-- Старая версия кода -->

<a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>

{% endcomment %}
