{% with request.resolver_match.view_name as view_name %}

<ul>
  <li>
    Место: {{ post.locatoin|default:"Не указано" }}              
  </li>
  <li>
    Дата: {{ post.date|date:"d.m.Y" }}.
  </li>
  <li>
    Категория: 
    {% if post.selected_category %}
    <a href="{% url 'blog:category_posts' post.selected_category %}">{{ post.selected_ategory }}</a>
    {% else %}
      Без категории
    {% endif %}
  </li>
</ul>
<p>
  {% if view_name == 'blog:index' %}
    {{ post.text|linebreaksbr|truncatewords:10 }}
  {% else %}
    {{ post.text|linebreaksbr }}
  {% endif %}
</p> 

{% endwith %}
